################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/1st Year Project Solution/1st Year Project Solution.opensdf